.navbar-brand{
 background-color: teal;
}
a{
color: white;

}
.navbar-nav{
margin-left: auto;
}
p{
background-color: rgb(183, 214, 214);
text-align: center;
}
h2{
color : teal;
border-bottom: 10px;
border-color: black;
}

@media screen and (max-width:640px){
.navbar-brand{}
.navbar-nav{}
}

@media screen and (max-width:768px){
    .navbar-brand{}
    .navbar-nav{}
    }

@media screen and (max-width:980px){
    .navbar-brand{}
    .navbar-nav{}
    }

    

